#menu-side{
    height: #{$menu-height};
    display: flex;
    z-index: 100;
}

#menu.sidebar-active.sticky{
    display: none;
    background-color: #f3f0ed;
}

#menu-hamburger-cont{
    opacity: 0;
    transition-duration:0.5s;
}

#menu-hamburger-cont.sticky{
    opacity: 1;
    transition-duration:0.5s;
}

#menu-hamburger-cont.sidebar-active{
    opacity: 0;
    transition-duration:0.3s;
    visibility: hidden;
}

#menu-hamburger{
    height: #{$menu-height};
    :hover{
        cursor: pointer;
    }
}

#menu-nav.sidebar-active{
    opacity: 0;
}

#menu-nav.sticky{
    opacity: 0;
    transition-duration:0.5s;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#menu-side.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}