.component-modal {
  background: black;
  color: white;
  opacity: 0.9;
  z-index: 2;
  height: 90%;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
