#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: rgb(242,243,247);
    transition: all 0.7s;
    margin-left: calc(1px - #{$sidebar-width});
    height: 100vh;
    width: #{$sidebar-width};
    border-right: thin #979797 solid;
    // border-width: 0.2px;
    // border-style: solid;
    
    #sidebar-header {
        width: 100%;
        text-align: center;
        display: block;
        margin-top: 18vh;
    }

    ul#sidebar-nav {
        width: 100%;
        margin-top: 48px;
        list-style-type: none;
        padding-inline-start: 0;
        margin-top: 12vh;
    }

    .sidebar-name{
            font-size: 1em;
    }

    ul li a {
        font-size: 1.1em;
        font-family: "Roboto";
        font-weight: 300;
        display: block;
        color: black;
        padding-top: 11px;
        text-align: center;
    }

        ul li a:active {
        font-family: "Roboto";
        font-weight: 400;
    }


}

#sidebar.sidebar-active {
    margin-left: 0;
    position: fixed;
    z-index:2;
}