#page-about {
    display: inline-block;
    max-width: 100vw;
    background-color:rgb(211,211,211);
}

#contact-me {
  display: block;
  text-align: center;

  :hover{
    font-weight: 200;
  }
  p {
    margin-top: 50px;
    margin-bottom: 0;
    font-family: "Montserrat";
    font-weight: 100;
    font-size: 1rem;
    text-align: center;
    color: black;
    line-height: 1.7em;
  }
}

.header {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3.5em;
  text-align: center;
  color: #222;
}

.pagePadding {
    padding: 10vh 13vw;
}

