#page-about {
    display: inline-block;
    max-width: 100vw;
    background-color: #f3f0ed;
}

.header {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 3.5em;
  text-align: center;
  color: #222;
}

.pagePadding {
    padding: 10vh 13vw;
}

