#page-contact {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #f3f0ed;
    //   background: url("../assets/contact.jpg") no-repeat center center fixed; 
//   background-size: contain;
}