#page-home {
  background-color: #222526;
  height: 90vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 30vh 40vh;
    grid-template-areas: 
    "topmenu"
    "title"
    "rabbit";
}

#rabbit-hero-cont{
  grid-area: rabbit;
  width: 100vw;
  max-width: 200px;
}

#rabbit-hero {
  height: 40vh;
  width: auto;
}

#text-hero-cont {
  grid-area: title;
  width: 100vw;
  margin-top: 15vh;
}

#text-hero-name{
  text-align: center;
  font-family: "Roboto";
  font-size: 4em;
  color: rgb(176, 169, 159);
}
#text-hero-sub{
  text-align: center;
  font-family: "Roboto";
  font-size: 3em;
  color: rgb(176, 169, 159)
}

#menu-nav {
    grid-area: topmenu;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.4em;
    z-index: 1;
    margin-top: 4vh;
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    opacity: 1;
    transition-duration:0.5s;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    li {
        display: inline;
        padding: 0 30px;
        a {
            color: #{$ragin-beige};
        }
    }
}