@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap%22%20rel=%22stylesheet");
@import url("https://cdnjs.cloudflare.com/ajax/libs/flickity/1.0.0/flickity.css");
.app-wrapper {
  display: flex;
  align-items: stretch;
}

body {
  overflow-x: hidden;
  color: #2f1628;
  margin: 0;
  font-family: "Titillium Web", "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  line-height: 1.7em;
  color: #1d1d1B;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#main-content {
  background-color: black;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#main-content-after-menu.sticky {
  margin-top: 45px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#view-main {
  width: 100vw;
  background-color: black;
}

#view-main.sidebar-active {
  overflow-x: hidden;
  transform: translate(270px, 0);
  transition-duration: 0.7s;
}

#page-portfolio {
  padding: 64px 20vw;
  min-width: 100vw;
  background-color: black;
}

#page-home {
  background: url("../assets/several-circles.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

h1.text-intro {
  color: white;
  text-align: center;
}

#page-home-text {
  background: url("../assets/background-text.svg") no-repeat center center fixed;
  background-size: 300px, 300px;
  height: 100vh;
  transition: 0.5s;
}

#page-home-text:hover {
  background: url("../assets/background-text.svg") no-repeat center center fixed;
  background-size: 400px, 400px;
  height: 100vh;
  padding-top: 30vh;
  transition: 0.5s;
}

#page-about {
  display: inline-block;
  max-width: 100vw;
  background-color: #f3f0ed;
}

.pagePadding {
  padding: 64px 15vw;
}

#page-contact {
  min-height: 100vh;
  max-width: 100vw;
  background-color: #f3f0ed;
}

#full-image {
  background: url("../assets/me-bw.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 30vh;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #f2f3f7;
  transition: all 0.7s;
  margin-left: -250px;
  height: 100vh;
  width: 270px;
}
#sidebar .sidebar-header {
  margin: 20px auto 0 auto;
  width: 80px;
}
#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}
#sidebar ul p {
  padding: 10px;
}
#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar.sidebar-active {
  margin-left: 0;
  position: fixed;
  z-index: 2;
}

#menu-side {
  height: 45px;
  background-color: black;
  display: flex;
}

#menu-top {
  padding-top: 20px;
  height: 45px;
  display: flex;
}

#menu.sidebar-active.sticky {
  display: none;
}

#menu-hamburger-cont {
  opacity: 0;
  transition-duration: 0.5s;
}

#menu-hamburger-cont.sticky {
  opacity: 1;
  transition-duration: 0.5s;
}

#menu-hamburger-cont.sidebar-active {
  opacity: 0;
  transition-duration: 0.3s;
  visibility: hidden;
}

#menu-hamburger {
  height: 45px;
}

#menu-nav {
  font-family: "TitilliumWeb-Regular";
  font-size: 1.4em;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  opacity: 1;
  transition-duration: 0.5s;
}
#menu-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu-nav li {
  display: inline;
  padding: 0 30px;
}
#menu-nav li a {
  color: #fff5d7;
}

#menu-nav.sidebar-active {
  opacity: 0;
}

#menu-nav.sticky {
  opacity: 0;
  transition-duration: 0.5s;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
#menu-side.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
}

.gallery {
  background: #EEE;
}

.gallery-cell {
  width: 28%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  counter-increment: gallery-cell;
}

.gallery-cell.is-selected {
  background: #ED2;
}

/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

#portfolio-container {
  display: relative;
  width: 50%;
}
#portfolio-container img {
  opacity: 1;
  display: absolute;
  width: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}
#portfolio-container .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #1d1d1B;
}
#portfolio-container .text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Montserrat";
  font-weight: 900;
  color: #fff;
}

#portfolio-container:hover img {
  opacity: 0.8;
}

#portfolio-container:hover .overlay {
  opacity: 0.9;
}

#image-rabbit {
  width: 80px;
}

#image-hamburger {
  width: 20px;
  margin-top: calc(45px/4);
  margin-left: 1vw;
}

@media only screen and (max-width: 600px) {
  #menu-nav {
    display: none;
  }

  #view-main.sidebar-active {
    width: calc(100vw - 270px);
    height: 100vh;
    overflow: hidden;
  }

  .app-wrapper {
    background-color: black;
  }
}

/*# sourceMappingURL=index.css.map */
